  
    <% @ticker = StockQuote::Stock.quote(@stock.ticker) %>
    

      <% if !@ticker %>
          The company, <%= @stock.ticker %>, does not exist in our database

      <% else %>
        <% @logo = StockQuote::Stock.logo(@stock.ticker)%>
        <img src="<%= @logo.url %>">

        <h2> <%=  @ticker.company_name%></h2> <br>
          
          Symbol: <%= @ticker.symbol %> <br>
          Current Value: <%= number_with_precision(@ticker.latest_price, :precision => 2, :delimiter => ',') %> <br>
          Market Cap:$<%= number_with_precision(@ticker.market_cap, :precision => 2, :delimiter => ',') %>
        <% end %> <br>

        Primary Exchange: <%= @ticker.primary_exchange %> <br>
        Previous Close: <%= @ticker.previous_close %> <br>
        YTD Change: <%= number_with_precision(@ticker.ytd_change, :precision => 3, :delimeter => ',')%> <br>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
