<!DOCTYPE html>
<html style="height: 85%">
  <head>
    <title>MarketWatch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

  <body class='h-100'>
    <%= render 'home/navbar' %>
    <div class="container h-100">
      <br>
      <%= render 'home/flash'%>
    
      <%= yield %>
      
      <%# <div class="h-25"></div> %>
    </div>
      <%= render 'home/footer' %>

  </body>
</html>
